@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "zonaBold";
  font-style: normal;
  src: url(assets/fonts/zonaPro-Bold.woff) format("woff");
}

@font-face {
  font-family: "zonaExtraBold";
  font-style: normal;
  src: url(assets/fonts/zonaPro-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "zonaLight";
  font-style: normal;
  src: url(assets/fonts/zonaPro-Light.woff) format("woff");
}
@font-face {
  font-family: "zonaRegular";
  font-style: normal;
  src: url(assets/fonts/zonaPro-Regular.woff) format("woff");
}

html {
  @apply text-primaryWhite bg-primaryBlack;
  font-family: "Bebas Neue", sans-serif;
}
.mainHeight {
  height: calc(100vh - 490px);
}

.swiper {
  width: 100%;
  height: 250px;
}
.fullWidth {
  width: 100%;
}
.noWidth {
  width: 0;
}
.animateSearch {
  width: 70px;
  box-sizing: border-box;
  background: transparent;

  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
#searchGame:focus {
  width: 100%;
}
.gameGenre {
  padding: 4px 14px;
  border: 1px solid gray;
  border-radius: 10px;
}
.hidden {
  display: none;
}
.game-container {
  position: relative;
  border-radius: 6px;
  width: 100%;
  height: 208px;
  overflow: auto;
}

.game-container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-container-details {
  position: absolute;
  bottom: 0;
  background: hsl(224 15% 14%);
  opacity: 85%;
  width: 100%;
  padding: 16px 8px;
}
.game-container-details-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.selected-genre-p {
  overflow: hidden;
  overflow-y: scroll;
  height: 190px;
}
.active {
  background: hsl(224 15% 14%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border-right: 2px solid red;
}
.active svg {
  stroke: red;
}

@media (min-width: 1024px) {
  #topGame .game-container {
    height: 400px;
  }
  .mainHeight {
    height: calc(100vh - 580px);
  }
}
.game-trailer-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.game-trailer-img {
  width: 13rem;
  border-radius: 6px;
}
.side-nav-height {
  height: calc(100vh - 106px);
}

/* .side-nav-height > div {
  display: flex;
  gap: 1rem;
}
.side-nav-height img {
  width: 13rem;
  height: 13rem;
  border-radius: 6px;
} */
